.TopPage {
  margin: 0 auto;
  background: linear-gradient(white, #66b0a3);
  height: 100vh;

  width: 100%;
  //   position: absolute;
  max-width: 414px;
  max-height: 896px;

  //   &__cover {
  //     display: flex;
  //     justify-content: center;
  //   }

  object {
    width: 300px;
  }
}
